*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/libraries
/.idea/sonarlint.xml
/.idea/sonarlint/**
.DS_Store
/build
/captures
.externalNativeBuild
